.h1{

    padding-top: 20px;
    text-align: center;
    
   
    
}
.con{
    height: 200px;
    background-color: #ea4335
}
.nav li {
    display: inline-block;
    margin: 20px;
    
    
}
.nav a {
    display: inline-block;
    margin: 20px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(250, 247, 247);
    font-style: blod;
    background-color: black;
    padding: 10px;
    border-radius: 15px;
    text-transform: uppercase;
}
.nav a:hover {
    background-color: rgb(26, 22, 22);
  
}